@model BrowseViewModel

@{
    ViewBag.Title = "Browse";
}


@section Head{
    <script>
        function getParameterByName(name) {
            var match = RegExp('[?&]' + name + '=([^&]*)')
                .exec(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }

        $(function () {
            $(".watchlistButton").click(function () {
                var myInput = $(".watchListInput", $(this).parent());
                var watchList = $(myInput).attr("checked");
                var movieID = $(this).parent().parent().attr("id").split("_")[1];

                if (!watchList) {
                    $(this).attr("src", "/Content/Watchlist.png");
                    $(myInput).attr("checked", true);
                    watchList = true;
                    $.post("/Movie/SaveWatchlist", { "watchList": "on", "movieID": movieID });
                } else {
                    $(this).attr("src", "/Content/Unwatchlist.png");
                    $(myInput).attr("checked", false);
                    watchList = false;
                    $.post("/Movie/SaveWatchlist", { "watchList": "off", "movieID": movieID });
                }
            });

            $(".watchedButton").click(function () {
                var myInput = $(".watchedInput", $(this).parent());
                var watched = $(myInput).attr("checked");
                var movieID = $(this).parent().parent().attr("id").split("_")[1];

                if (!watched) {
                    $(this).attr("src", "/Content/Watched.png");
                    $(myInput).attr("checked", true);
                    watched = true;
                    $.post("/Movie/SaveWatched", { "watched": "on", "movieID": movieID });
                } else {
                    $(this).attr("src", "/Content/Unwatched.png");
                    $(myInput).attr("checked", false);
                    watched = false;
                    $.post("/Movie/SaveWatched", { "watched": "off", "movieID": movieID });
                }
            });



            $(".movieTitle").click(function () {
                $("#movieModalScreen").show();
                $("#movieModal").prepend("<img style='position:absolute;left:50%;top:40%;margin-left:-62px;margin-top:-62px;' src='/Content/Loading.gif' />");
                $.get("/Movie/Display/" + $(this).parent().parent().attr("id").split("_")[1], function (data) {
                    $("#movieModal").append(data);
                    $(".moviePage").prepend("<span id='closeModal'>X</span>");
                    $("#closeModal").click(function () {
                        $("#movieModal").empty();
                        $("#movieModalScreen").hide();
                    });
                });
                return false;
            });

            //If we're displaying a Watchlist
            if (getParameterByName("sort") == "Watchlist") {
                //Fetch the array of movies and commented data from the server
                $.post("/Movie/FetchSuggestData", function (data) {
                    //For each movie in your watchlist
                    $.each(data, function (index, ViewingInfo) {
                        //Find its associated MovieContainer
                        $.each($(".movieContainer"), function (index2, containerDiv) {
                            var movieID = $(containerDiv).attr("id").split("_")[1];
                            if (movieID == ViewingInfo[0]) {
                                if (ViewingInfo[1] != null) {
                                    //And do something with that data.
                                    var parsedSuggests = "<div class='suggestionContainer'>";
                                    $.each(ViewingInfo[1].split("•"), function (i, j) {
                                        if (j != "") {
                                            parsedSuggests += "<div class='suggestion'><span class='suggestionName'>";
                                            parsedSuggests += j.split("|")[0] + "</span><span class='suggestionComment'>";
                                            parsedSuggests += j.split("|")[1] + "</span></div>";
                                        }
                                    });
                                    parsedSuggests += "</div>";
                                    $(containerDiv).wrap("<div class='suggestionsWrapper'></div>");
                                    $(containerDiv).parent().prepend(parsedSuggests);
                                }
                            }
                        });
                    });
                });
            }
        });

    </script>
    @if (!User.Identity.IsAuthenticated)
    {
        <style>
            .innerMovieWrapper {
                height: auto !important;
            }
        </style>
    }
}

<div id="movieWrapper">
    @foreach (var item in Model.Movies)
    {
        <div class="movieContainer" id="movie_@item.MovieID">
            <div class="innerMovieWrapper">
                <img class="moviePosterImage" src="/Image/@item.MovieID" />
                <a href="" class="movieTitle">
                    @Html.Raw(item.Title + " (" + DateTime.Parse(item.ReleaseDate.ToString()).Year + ")")
                </a>
                <span class="movieRating">
                    @item.Rating
                </span>
                <br />
                <span class="movieTime">
                    @item.Runtime
                </span>
                <div class='actorSpacer'>
                </div>
                <span class="movieActors">
                    @foreach (var m in item.Actors.Split(','))
                    {
                        <a href="/browse?sort=Actor&actor=@m.Trim()">@m</a>
                        <div class="actorSpacer"></div>
                    }
                </span>
                <div class='actorSpacer'>
                </div>
                <div class='actorSpacer'>
                </div>
                <span class="moviePlot">
                    @item.Plot
                </span>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="movieButtonContainer">
                    @if (item.isWatched)
                    {
                        <img class="watchedButton" src="/Content/Watched.png" />
                        <input type="checkbox" class="watchedInput" name="watched" checked="checked" />
                    }
                    else
                    {
                        <img class="watchedButton" src="~/Content/Unwatched.png" />
                        <input type="checkbox" class="watchedInput" name="watched" />
                    }

                    @if (item.isWatched)
                    {
                        <img class="watchlistButton" src="/Content/Watchlist.png" />
                        <input type="checkbox" class="watchListInput" name="watchList" checked="checked" />
                    }
                    else
                    {
                        <img class="watchlistButton" src="~/Content/Unwatchlist.png" />
                        <input type="checkbox" class="watchListInput" name="watchList" />
                    }
                </div>
            }
            else
            {
                <div class="movieButtonContainer">
                </div>
            }
        </div>
    }
</div>
<div id="movieModalScreen">
    <div id="movieModal">
    </div>
</div>