@model IEnumerable<MovieTheater.Db.UserMovies>

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head{
    <script>
        function getParameterByName(name) {
            var match = RegExp('[?&]' + name + '=([^&]*)')
                .exec(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }

        $(function () {
            $(".watchlistButton").click(function () {
                var myInput = $(".watchListInput", $(this).parent());
                var watchList = $(myInput).attr("checked");
                var movieID = $(this).parent().parent().attr("id").split("_")[1];

                if (!watchList) {
                    $(this).attr("src", "/Content/Watchlist.png");
                    $(myInput).attr("checked", true);
                    watchList = true;
                    $.post("/Movie/SaveWatchlist", { "watchList": "on", "movieID": movieID });
                } else {
                    $(this).attr("src", "/Content/Unwatchlist.png");
                    $(myInput).attr("checked", false);
                    watchList = false;
                    $.post("/Movie/SaveWatchlist", { "watchList": "off", "movieID": movieID });
                }
            });

            $(".watchedButton").click(function () {
                var myInput = $(".watchedInput", $(this).parent());
                var watched = $(myInput).attr("checked");
                var movieID = $(this).parent().parent().attr("id").split("_")[1];

                if (!watched) {
                    $(this).attr("src", "../Content/Watched.png");
                    $(myInput).attr("checked", true);
                    watched = true;
                    $.post("/Movie/SaveWatched", { "watched": "on", "movieID": movieID });
                } else {
                    $(this).attr("src", "../Content/Unwatched.png");
                    $(myInput).attr("checked", false);
                    watched = false;
                    $.post("/Movie/SaveWatched", { "watched": "off", "movieID": movieID });
                }
            });



            $(".movieTitle").click(function () {
                $("#movieModalScreen").show();
                $("#movieModal").prepend("<img style='position:absolute;left:50%;top:40%;margin-left:-62px;margin-top:-62px;' src='../Content/Loading.gif' />");
                $.get("/Movie/MovieDisplay?ID=" + $(this).parent().parent().attr("id").split("_")[1], function (data) {
                    $("#movieModal").append(data);
                    $(".moviePage").prepend("<span id='closeModal'>X</span>");
                    $("#closeModal").click(function () {
                        $("#movieModal").empty();
                        $("#movieModalScreen").hide();
                    });
                });
                return false;
            });

            //If we're displaying a Watchlist
            if (getParameterByName("sort") == "Watchlist") {
                //Fetch the array of movies and commented data from the server
                $.post("/Movie/FetchSuggestData", function (data) {
                    //For each movie in your watchlist
                    $.each(data, function (index, ViewingInfo) {
                        //Find its associated MovieContainer
                        $.each($(".movieContainer"), function (index2, containerDiv) {
                            var movieID = $(containerDiv).attr("id").split("_")[1];
                            if (movieID == ViewingInfo[0]) {
                                if (ViewingInfo[1] != null) {
                                    //And do something with that data.
                                    var parsedSuggests = "<div class='suggestionContainer'>";
                                    $.each(ViewingInfo[1].split("•"), function (i, j) {
                                        if (j != "") {
                                            parsedSuggests += "<div class='suggestion'><span class='suggestionName'>";
                                            parsedSuggests += j.split("|")[0] + "</span><span class='suggestionComment'>";
                                            parsedSuggests += j.split("|")[1] + "</span></div>";
                                        }
                                    });
                                    parsedSuggests += "</div>";
                                    $(containerDiv).wrap("<div class='suggestionsWrapper'></div>");
                                    $(containerDiv).parent().prepend(parsedSuggests);
                                }
                            }
                        });
                    });
                });
            }
        });

    </script>
    @if (!User.Identity.IsAuthenticated)
    {
        <style>
            .innerMovieWrapper {
                height: auto !important;
            }
        </style>
    }
}

@section Body{
    <div id="movieWrapper">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="movieContainer" id="movie_@item.id">
                    <div class="innerMovieWrapper">
                        <img class="moviePosterImage" src="/Movie/ImageHandler?ID=@item.id" />
                        <a href="" class="movieTitle">
                            @Html.Raw(item.Title + " (" + DateTime.Parse(item.ReleaseDate.ToString()).Year + ")")
                        </a>
                        <span class="movieRating">
                            @item.Rating
                        </span>
                        <br />
                        <span class="movieTime">
                            @item.Runtime
                        </span>
                        <div class='actorSpacer'>
                        </div>
                        <span class="movieActors">
                            @{
                                var actorString = ""; }
                            @foreach (var m in item.Actors.Split(','))
                            {
                                actorString += "<a href='browse?sort=Actor&actor=" + m.Trim() + "'>" + m + "</a><div class='actorSpacer'></div>";
                            }
                            @Html.Raw(actorString)
                        </span>
                        <div class='actorSpacer'>
                        </div>
                        <div class='actorSpacer'>
                        </div>
                        <span class="moviePlot">
                            @item.Plot
                        </span>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="movieButtonContainer">
                            <img class="watchedButton"
                                 @if (item.isWatched == "1") { @: src="../Content/Watched.png"
                                 } else { @: src="/Content/Unwatched.png"
                                 }
                                 style="cursor: pointer;" />
                            <input type="checkbox" class="watchedInput" name="watched"
                                   @if (item.isWatched == "1") { @: checked="checked"
                                   } />
                            <img class="watchlistButton"
                                 @if (item.isWatchlist == "1") { @: src="/Content/Watchlist.png"
                                 } else { @: src="/Content/Unwatchlist.png"
                                 }
                                 style="cursor: pointer;" />
                            <input type="checkbox" class="watchListInput" name="watchList"
                                   @if (item.isWatchlist == "1") { @: checked="checked"
                                   } />
                        </div>
                    }
                    else
                    {
                        <div class="movieButtonContainer">
                        </div>
                    }
                </div>
            }
        }
    </div>
    <div id="movieModalScreen">
        <div id="movieModal">
        </div>
    </div>
}