@model MovieTheater.Db.Movie

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var movie = Model;
}

@section Head{
        <script type="text/javascript">
    $(function () {
        $("#updateMovie").click(function () {
            var thisID = $("#movieID").text();
            var giventitle = $("#movieTitle").val();
            var givensimpletitle = $("#movieSimpleTitle").val();
            var givenrated = $("#movieRating").val();
            var givenreleased = $("#movieReleaseDate").val();
            var givenruntime = $("#movieRuntime").val();
            var givengenre = $("#movieGenre").val();
            var givendirector = $("#movieDirector").val();
            var givenwriter = $("#movieWriter").val();
            var givenactors = $("#movieActors").val();
            var givenmovieplot = $("#moviePlot").val();
            var givenmovieposter = $("#moviePosterLink").val();
            var givenimdbrating = $("#movieimdbRating").val();
            var givenimdbid = $("#movieimdbID").val();
            var giventomatorating = $("#movietomatoRating").val();
            if (giventitle != "") {
                $.post('/Movie/UpdateMovie', {
                    givenID: thisID, title: giventitle, simpletitle: givensimpletitle, rated: givenrated, released: givenreleased, runtime: givenruntime, genre: givengenre, director: givendirector,
                    writer: givenwriter, actors: givenactors, plot: givenmovieplot, givenPosterLink: givenmovieposter, imdbrating: givenimdbrating, imdbid: givenimdbid, tomatorating: giventomatorating
                }, function () {
                    $("input").val("");
                    window.location.reload();
                });
            }
        });
    });
        </script>
}

@section Body{

        <span name="movieID" id="movieID" class="movieID">@movie.id</span>
        <br />
        <span class="UpdateControlInfo">Title:</span>
        <input type="text" ID="movieTitle" class="movieTitle" name="movieTitle" value="@movie.Title" />
        <br />
        <span class="UpdateControlInfo">Sorted Title:</span>
        <input type="text" ID="movieSimpleTitle" class="movieSimpleTitle" name="movieSimpleTitle" value="@movie.SimpleTitle" />
        <br />
        <span class="UpdateControlInfo">Rating:</span>
        <input type="text" ID="movieRating" class="movieRating" name="movieRating" value="@movie.Rating" />
        <br />
        <span class="UpdateControlInfo">ReleaseDate:</span>
        <input type="text" ID="movieReleaseDate" class="movieReleaseDate" name="movieReleaseDate" value="@movie.ReleaseDate" />
        <br />
        <span class="UpdateControlInfo">Runtime:</span>
        <input type="text" ID="movieRuntime" class="movieRuntime" name="movieRuntime" value="@movie.Runtime" />
        <br />
        <span class="UpdateControlInfo">Genre:</span>
        <input type="text" ID="movieGenre" class="movieGenre" name="movieGenre" value="@movie.Genre" />
        <br />
        <span class="UpdateControlInfo">Director:</span>
        <input type="text" ID="movieDirector" class="movieDirector" name="movieDirector" value="@movie.Director" />
        <br />
        <span class="UpdateControlInfo">Writer:</span>
        <input type="text" ID="movieWriter" class="movieWriter" name="movieWriter" value="@movie.Writer" />
        <br />
        <span class="UpdateControlInfo">Actors:</span>
        <input type="text" ID="movieActors" class="movieActors" name="movieActors" value="@movie.Actors" />
        <br />
        <span class="UpdateControlInfo">Plot:</span>
        <input type="text" ID="moviePlot" class="moviePlot" name="moviePlot" value="@movie.Plot" />
        <br />
        <span class="UpdateControlInfo">PosterLink:</span>
        <input type="text" ID="moviePosterLink" class="moviePosterLink" name="moviePosterLink" value="@movie.PosterLink" />
        <br />
        <span class="UpdateControlInfo">imdbRating:</span>
        <input type="text" ID="movieimdbRating" class="movieimdbRating" name="movieimdbRating" value="@movie.imdbRating" />
        <br />
        <span class="UpdateControlInfo">imdbID:</span>
        <input type="text" ID="movieimdbID" class="movieimdbID" name="movieimdbID" value="@movie.imdbID" />
        <br />
        <span class="UpdateControlInfo">tomatoRating:</span>
        <input type="text" ID="movietomatoRating" class="movietomatoRating" name="movietomatoRating" value="@movie.tomatoRating" />
        <br />
        <img class="moviePosterImage" src="/Movie/ImageHandler?ID=@movie.id" />
        <br />
        <input type="button" ID="updateMovie" name="updateMovie" value="Update" />
}